{% extends 'base.html' %}

{% block content %}
<!--<div class="container">
<h1 class="text-3xl font-semibold mb-4 text-center">Available Cars for Rent</h1>-->
<div class="container mx-auto px-4 mt-10 md:px-8 lg:px-16 xl:px-24">
    <h1 class="text-3xl font-semibold mb-4 border-b pb-4 lg:text-left" style="display: flex; justify-content: center;">Available Cars for Rent</h1>

    <div class="md:flex md:space-x-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      {% for car in cars %}
      <div class="col-md-24 mb-4 pt-2" style="width: 100%;">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
          <img src="{{ url_for('uploaded_image', car_id=car.id) }}" class="w-auto h-46" alt="{{ car.name }} Image">
          <div class="p-4">
            <h5 class="text-xl font-semibold">{{ car.name }}</h5>
            <p class="text-grey-600">
              <strong>Model:</strong> {{ car.model }}<br>
              <strong>Seats:</strong> {{ car.seat }}<br>
              <strong>Doors:</strong> {{ car.door }}<br>
              <strong>Gearbox:</strong> {{ car.gearbox }}<br>
	      <strong>Price Per a Day:</strong> {{ car.price }}<br>
            </p>
          </div>
          <div class="p-4">
            <a href="{{ url_for('booking.create', car_id=car.id) }}" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded inline-block">Book Now</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
  </div>  
{% endblock %}
