{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-4 mt-10">
    <h1 class="text-3xl font-semibold mb-4 border-b pb-2">Book Your Car</h1>

    <div class="flex  space-x-4">
        <div class="relative w-50">
            <div class="bg-white rounded-lg overflow-hidden border border-gray-300 p-5">
                <img src="{{ url_for('uploaded_image', car_id=car.id) }}" class="w-full h-auto" alt="{{ car.name }} Image">
            </div>
        </div>
        <div class="w-1/2">
            <div class="bg-white rounded-lg overflow-hidden p-4 border border-gray-300">
                <h2 class="text-2xl mb-2 font-semibold">{{ car.name }}</h2>
                <p class="text-gray-600">
                    <strong>Model:</strong> {{ car.model }}<br>
                    <strong>Seats:</strong> {{ car.seat }}<br>
                    <strong>Gearbox:</strong> {{ car.gearbox }}<br>
                    <strong>Price per Day:</strong> 256.86 Birr<br>
                </p>
                <form class="mt-5" action="{{ url_for('booking.create', car_id=car.id) }}" method="POST">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="start_date">
                            Start Date
                        </label>
                        <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="start_date" name="start_date" type="date" required>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="end_date">
                            End Date
                        </label>
                        <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="end_date" name="end_date" type="date" required>
                    </div>
                    <div class="mb-4">
                        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded inline-block w-full">Book Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
