{% extends 'base.html' %}

{% block content %}
  <div class="container mx-auto mt-8">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'warning' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% elif category == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% elif category == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% endif %}
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
	    <script>
                setTimeout(function () {
                    document.querySelector(".alert").style.display = "none";
                }, 2000); // Adjust the time in milliseconds (5000ms = 5 seconds)
            </script>
            {% endfor %}
        {% endif %}
    {% endwith %}


<div class="container  mx-auto px-4 mt-10">
    <h1 class="text-2xl font-semibold mb-3 text-center border-b pb-4 lg:text-left">Manage Your Booking</h1>

    <!-- Booking Cards -->
    {% if not bookings %}
        <p class="text-center text-xl mt-4">You haven't booked a car yet.</p>
    {% else %}
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            {% for booking in bookings %}
                <div class="bg-white rounded-lg overflow-hidden border border-gray-300">
                    <!-- Image -->
                    <div class="flex items-center justify-center p-4">
                        <img src="{{ url_for('uploaded_image', car_id=booking.car_id) }}" class="w-32 h-auto object-cover" alt="{{ booking.car_name }} Image">
                    </div>
                    <!-- Properties -->
                    <div class="p-4">
                        <h2 class="text-xl font-semibold">{{ booking[3] }}</h2>
                        <p class="text-gray-600">
                            <strong>Customer:</strong> {{ booking[6] }}<br>
                            <strong>Start Date:</strong> {{ booking[8] }}<br>
                            <strong>End Date:</strong>{{ booking[9] }}<br>
                        </p>
                    </div>
                    <!-- Buttons -->
                    <div class="p-4 flex justify-end">
                        <form action="{{ url_for('booking.update', id=booking[0]) }}" method="get">
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 mr-3 rounded">Edit</button>
                        </form>
                        <form action="{{ url_for('booking.delete', id=booking.id) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this booking?')">
                            <button type="submit" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded">Cancel</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
</div>
{% endblock %}
