<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://unpkg.com/htmx.org@1.9.5/dist/htmx.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>WheelsOnRent</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/WheelsOnRent.png')}}" />
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
        <script src="https://kit.fontawesome.com/bae88a6e1d.js" crossorigin="anonymous"></script>
    </head>
<body class="relative min-h-screen">
  <!-- Navbar -->
<nav class="navbar navbar-light bg-light justify-content-between p-3 pl-5">
  <a class="text-2xl font-bold flex items-center" href="{{ url_for('home') }}" style="text-decoration: none;">
    <img src="{{ url_for('static', filename='assets/img/WheelsOnRent.png') }}" class="h-10 w-10">
    <span class="hidden md:inline">WheelsOnRent</span>
</a>
  {% if g.customer['role'] == 0 %}
  <div class="d-flex align-items-center">
                    <!-- Apply dropdown menu styling to greeting and name -->
                    <p class="origin-top-right absolute right-16 p-2 bottom-4  mt-2 w-auto flex items-center justify-center rounded-md shadow-lg bg-primary text-white ring-1 ring-black ring-opacity-5 mb-0 d-none d-sm-block navbar-profile-name">{{ greeting }} {{ g.customer['name'] }}</p>
   </div>


  <div x-data="{ open: false }" @click.away="open = false" class="relative inline-block text-left">
      <div>
          <button @click="open = !open" type="button" class="rounded-full h-10 w-10 flex items-center justify-center bg-primary text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-primary" id="dropdown-menu" aria-haspopup="true" aria-expanded="true">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 10h16M4 14h16M4 18h16"></path>
              </svg>
          </button>
      </div>

      <!-- Dropdown Menu -->
      <div x-show="open" @click.away="open = false" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-menu" id="dropdown-menu">
          <div class="py-1" role="none">
            <a href="{{ url_for('booking.my_bookings') }}" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem" style="text-decoration: none;">
              <img src="{{ url_for('static', filename='assets/icons/manage.svg') }}" alt="My Icon" class="h-4 w-4 mr-2">
              <span>Manage Bookings</span>
            </a>
            <a href="{{ url_for('customer.update', id=g.customer['id']) }}" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem" style="text-decoration: none;">
              <img src="{{ url_for('static', filename='assets/icons/account.svg') }}" alt="My Icon" class="h-4 w-4 mr-2">
              <span>Profile Settings</span>
            </a>
            <a href="{{ url_for('customer.logout') }}" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem" style="text-decoration: none;">
              <img src="{{ url_for('static', filename='assets/icons/logout.svg') }}" alt="My Icon" class="h-4 w-4 mr-2">
              <span>Log Out</span>
            </a>
          </div>
      </div>
  </div>
  {% else %}
  <a style="font-weight: 700;" class="btn btn-outline-success my-2 my-sm-0" href="{{url_for('customer.login')}}" class="nav_link">Sign In</a>
  {% endif %}
</nav>


      <div class="container-fluid  pb-12" style="min-height: calc(100vh - 100px); margin:0; padding:0;">
      {% block content %}{% endblock %}
      </div>
      <footer class="bg-gray-900 text-white py-8 absolute w-full">
        <div class="container mx-auto px-4">
            <div class="flex items-center justify-center">
                <a class="text-2xl font-bold flex items-center" href="{{ url_for('home') }}" style="text-decoration: none;">
                    <img src="{{ url_for('static', filename='assets/img/WheelsOnRent.png') }}" alt="Company Logo" class="h-10 w-10 mr-2">
                </a>
            </div>
    
            <p class="mt-4 text-center text-gray-300">Our mission is to provide the best car rental experience in the world.</p>
    
            <div class="mt-8 flex flex-wrap justify-center">
                <a href="{{ url_for('home') }}" class="mx-4 text-gray-500 hover:text-gray-200" style="text-decoration: none;">Home</a>
                <a href="{{ url_for('car.about') }}" class="mx-4 text-gray-500 hover:text-gray-200" style="text-decoration: none;">About Us</a>
		<a href="{{ url_for('car.contact') }}" class="mx-4 text-gray-500 hover:text-gray-200" style="text-decoration: none;">Contact Us</a>
		<a href="{{ url_for('car.service') }}" class="mx-4 text-gray-500 hover:text-gray-200" style="text-decoration: none;">Our Services</a>
            </div>
    
            <div class="mt-8 flex justify-center">
                <a href="#" class="text-gray-500 hover:text-gray-200 mx-4">
                    <i class="ri-facebook-fill rounded-full bg-gray-700 p-2"></i>
                </a>
                <a href="#" class="text-gray-500 hover:text-gray-200 mx-4">
                    <i class="ri-instagram-fill rounded-full bg-gray-700 p-2"></i>
                </a>
                <a href="#" class="text-gray-500 hover:text-gray-200 mx-4">
                    <i class="ri-telegram-fill rounded-full bg-gray-700 p-2"></i>
                </a>
                <a href="#" class="text-gray-500 hover:text-gray-200 mx-4">
                    <i class="ri-twitter-fill rounded-full bg-gray-700 p-2"></i>
                </a>
            </div>
    
            <div class="mt-8 text-center text-gray-500">
                &copy; 2023 WheelsOnRent. All rights reserved.
            </div>
        </div>
    </footer>
    </body>
</html>
