{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-4">
    <h1 class="text-3xl font-semibold mb-4 text-center">Book This Car</h1>
    <div class="flex space-x-4">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden w-1/2">
            <img src="{{ url_for('uploaded_image', car_id=car.id) }}" class="w-full h-auto" alt="{{ car.name }} Image">
            <div class="p-4">
                <h2 class="text-xl font-semibold">{{ car.name }}</h2>
                <p class="text-gray-600">
                    <strong>Model:</strong> {{ car.model }}<br>
                    <strong>Seats:</strong> {{ car.seat }}<br>
                    <strong>Gearbox:</strong> {{ car.gearbox }}<br>
		    <strong>Price Per a Day:</strong> {{ car.price }}<br>
                </p>
            </div>
        </div>
        <form class="bg-white shadow-lg rounded-lg overflow-hidden w-1/2" method="POST">
            <div class="p-4">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="start_date">
                        Start Date
                    </label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="start_date" name="start_date" type="date" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="end_date">
                        End Date
                    </label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="end_date" name="end_date" type="date" required>
                </div>
                <div class="mb-4">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded inline-block w-full">Book Now</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
