{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Booking{% endblock %}</h1>
{% endblock %}

{% block content %}
   {% if g.customer or g.customer['role'] == 1 %}
  <form method="post">
    <label for="start_date">Start Date</label>
    <input name="start_date" id="start_date" value="{{ request.form['end_date'] }}">
    <label for="end_date">End Date</label>
    <input name="end_date" id="#" value="{{ request.form['end_date'] }}">
    <input type="submit" value="Save"><a class="action" href="{{ url_for('car.index') }}">Cancel</a>
  </form>
  {% else %}
    <p>You must be a customer or an administrator to create a booking.</p>
  {% endif %}
{% endblock %}
