{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Booking{% endblock %}</h1>
{% endblock %}

{% block content %}
   {% if g.customer or g.admin %}
  <form method="post">
    <label for="pickup_time">Pickup Time</label>
    <input name="pickup_time" id="#" value="{{ request.form['pickup_time'] }}">
    <label for="dropoff_time">Dropoff Time</label>
    <input name="dropoff_time" id="#" value="{{ request.form['dropoff_time'] }}">
    <label for="email">Email</label>
    <input name="email" id="email" value="{{ request.form['email'] }}" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="{{ request.form['password'] }}" required>
    <input type="submit" value="Save"><a class="action" href="{{ url_for('car.index') }}">Cancel</a>
  </form>
  {% else %}
    <p>You must be a customer or an administrator to create a booking.</p>
  {% endif %}
{% endblock %}
