<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to WheelsOnRent</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-blue-200">
    <div class="flex items-center justify-center min-h-screen">
        <div class="text-center">
            <h1 class="text-3xl font-semibold">Welcome to WheelsOnRent</h1>
            <p class="text-lg text-gray-700 mb-4">Explore our car rental platform:</p>
            <a href="{{ url_for('home') }}" class="text-blue-500 hover:underline">Start Exploring</a>
        </div>
    </div>
</body>

</html>

