<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{{ url_for('static', filename='assetss/css/styles.css') }}">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>WheelsOnRent-LogIn</title>
    </head>
    <body>
        <div class="login">
            <div class="login__content">
                <div class="login__img">
                    <img src="{{ url_for('static', filename='assetss/img/img-login.svg') }}" alt="">
                </div>

                <div class="login__forms">
                    <form action="{{ url_for('customer.login') }}" method="post" class="login__registre" id="login-in">
                        <h1 class="login__title">Log In</h1>
                        <div class="login__error">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <ul style="list-style:none; text-align:center;">
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="login__box">
                            <i class='bx bx-user login__icon'></i>
                            <input type="text" name="email" placeholder="Email" class="login__input">
                        </div>

                        <div class="login__box">
                            <i class='bx bx-lock-alt login__icon'></i>
                            <input type="password" name="password" placeholder="Password" class="login__input">
                        </div>

                        <a href="#" class="login__forgot">Forgot password?</a>

                        <input type="submit" class="login__button" value="Log In">

                        <div>
                            <span class="login__account">Don't have an Account ?</span>
			    <a class="login__signin" href="{{ url_for('customer.register') }}">Register</a>
                        </div>
			<div>
                            <span class="login__account">Don't wanna create account ?</span>
			    <a class="login__signin" href="{{ url_for('car.guest_mode') }}">Go Guest Mode</a>
                        </div>
                    </form>

		     <!--===== MAIN JS =====-->
        <script src="{{ url_for('static', filename='assetss/js/main.js') }}"></script>
